/* -------------------------- Common css -------------------------- */
body{
    /* font-family: "Inter", sans-serif; */
    font-family: "Gantari", sans-serif;

}


/* -------------------------- Other css -------------------------- */
#HoverLinks{
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}
#HoverLinks::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
#HoverLinks:hover::after{
    transform: scaleX(1);
}
#HoverLinks:hover{
    font-weight: 700;
}